/** Ryder Damen - http://ryderdamen.com


*/

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


/* Regular-Size Screen CSS */

/* Main Container */
.CV-messages-container {
    max-width: 600px;
    margin: auto;
    padding: 50px;
}

.msg-container {
    width: 100%;
    display: inline-block;
}

/* Regular message from other user */
.CV-message {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    float: left;
    text-align: left;
    min-height: 2em;
    max-width: 60%;

} 

.CV-message-author {
    

}

/* Me messages */
.CV-me-message {
    float: right;
}


/****************************************************************************
					Facebook Specific Styling
****************************************************************************/

.CV-message-style-facebook {
    font-family: 'Roboto', sans-serif;    
    font-weight: 300;
    background-color: #f8f8f8;
    color: #222;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;

}

.CV-me-message-style-facebook {
    font-family: 'Roboto', sans-serif;    
    font-weight: 300;
    background-color: #0084ff;
    color: #ffffff;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
    margin-top: 2em;
}

.CV-message-person-style-messenger {
	width: 100%;
    text-align: left;
    font-size: 0.7em;
    margin-top: 1em;
	
}

.CV-message-command-style-messenger {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 100%;
    text-align: center;
    font-size: 0.7em;
    margin-top: 2em;
    margin-bottom: 1em;
}


/****************************************************************************
					Android Specific Styling
****************************************************************************/

.CV-message-style-android {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;   
    background-color: #9C27B0;
    color: #ffffff;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;

}

.CV-me-message-style-android {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;    
    background-color: #f8f8f8;
    color: #222222;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
}

.CV-message-person-style-android {
	width: 100%;
    text-align: left;
    font-size: 0.7em;
    margin-top: 1em;
	
}

.CV-message-command-style-android {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 100%;
    text-align: center;
    font-size: 0.7em;
    margin-top: 2em;
    margin-bottom: 1em;
}

   
   /* Mobile Specific Styling */
@media only screen and (max-width: 840px) {
	   
   	.CV-message {
   		max-width: 80%;
	} 
    
}